body{
    font-family: sans-serif;
}
a{  
    text-decoration: none;
    color:white;
}
header{
    background-color:burlywood;
    display: flex;
}
.logo{
    display: flex;
}
.logo img{
    height: 50px;
}