:root {
  --color1: #131313;
  --color2: #ff8177;
  --color3: #ff0844;
  --color4: #ffb199;
  --color5: #fff;
  --color6: #833ab4;
  --color7: #fcb045;
  --color8: #fd1d1d;
  --color9: #942bea;
  --color10: #000000;
  --color11: #161616;
  --color12: #d81271;
  --color13: #da22ff;
  --color14: #9114ff;
  --color15: #da22ff;
  --color16: #8f0eff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

.navbar {
  background: var(--color1);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}
.navbar-container-menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar-container-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}
.navbar-container-menu-item {
  height: 80px;
}
.navbar-container-menu-item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: var(--color6);
  background: linear-gradient(to right, var(--color7), var(--color8), var(--color6));
  color: var(--color5);
  transition: all 0.3s;
}
.navbar-container-menu-item-links:hover {
  color: var(--color9);
  transition: all 0.3s ease;
}
.navbar-container-menu-item-links {
  color: var(--color5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

#navbar__logo {
  background-color: var(--color2);
  background-image: linear-gradient(to top, var(--color3) 0%, var(--color4) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 3rem;
}

@media screen and (max-width: 960px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 2rem;
  }
  .navbar-container-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3 ease-in-out;
    background: var(--color5);
    display: block;
    cursor: pointer;
  }
  .navbar-container-menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    font-size: 1rem;
  }
  .navbar-container-menu-btn {
    padding-bottom: 2rem;
  }
  .navbar-container-menu-btn-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }
  .navbar-container-menu-item {
    width: 100%;
  }
  .navbar-container-menu-item-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .navbar-container-menu.active {
    background: var(--color1);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 2.6rem;
    padding: 0 25rem;
  }
  #navbar_logo {
    padding: 25px;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
.hero {
  background: var(--color10);
  background: linear-gradient(to right, var(--color11), var(--color10));
  padding: 200px 0;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}
.hero-container-heading span {
  background: var(--color6);
  background: linear-gradient(to right, var(--color7), var(--color8), var(--color12));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.hero-container-heading {
  font-size: 10rem;
  margin-bottom: 24px;
  color: var(--color5);
}
.hero-container-heading-description {
  font-size: 6rem;
  background: var(--color13);
  background: linear-gradient(to right, var(--color16), var(--color13));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.highlight {
  border-bottom: 4px solid rgb(123, 0, 255);
}/*# sourceMappingURL=style.css.map */