:root{
    --color1: white;
}

html{
        box-sizing: border-box;
        font-size: 62.5%;
    }
    *, *:before, *:after{
        box-sizing: inherit;
    }

body{
    font-family: sans-serif;
    background-color: var(--color1);
    background-image: url(../img/fondo2.jpg);
    background-repeat: no-repeat;

}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.card{
    background-color: white;
    width: 328px;
    border-radius: 16px;
    overflow: hidden;

    &-header{
        width: 328px;
        height: 130px;
        display: block;
    }
    
    &-body{
        display: flex;
        flex-direction: column;
        align-items: center; 
        border-bottom: 2px solid darkcyan;
        border-radius: 15px;

        &-contentimg{
            border: 5px solid #a79a9a;
            border-radius: 50%;
            margin-top: -25px;
            margin-bottom: 8px;
            background-color: #a79a9a;

            &-img{
                padding: 2px;
            }
        }

        &-title{
            font-size: 3rem;
            
            &-num{
                font-size: 2rem;
                color: rgb(223, 65, 65);
            }
        }

        &-text{
            margin-bottom: 10%;
            font-size: 1.5rem;

            &-num{
                font-size: 2rem;
            }
        }
    }
    &-footer{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        padding-bottom: 20px;

        &-fase{
            text-align: center;
            font-size: 1.4rem;
            color:#3b3636
        }

        &-tipo{
            text-align: center;
            font-size: 1.4rem;
            color:#3b3636

        }

        &-rare{
            text-align: center;
            font-size: 1.4rem;
            color:#3b3636

        }
    }

}
